<!DOCTYPE html>
<html lang-"en">
<head>
    <meta charset="UTF-8">
    <title>{{ course.title }}</title>
</head>
<body>
    <h1>{{ course.title }}</h1>
    <p>{{ course.description }}</p>
    <h2>Lessons</h2>
    <ul>
        {% for lesson in course.lessons.all %}
            <li>
                <strong>{{ lesson.title }}</strong>
                <p>{{ lesson.content }}</p>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'course_list' %}">Back to courses</a>
</body>
</html>
